@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  header, main{
    margin: 0 140px;
  }

  /* shared styles */
  .flex{
    display: flex;
  }
  .align{
    text-align: center;
  }
  .orange{
    color: #FEA301;
  }
  .sky-blue{
    color: #01ACFD;
  }
  .btn-primary{
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 45px;
  }
  
  /* nav */
  .navbar{
    justify-content:space-around;
    align-items: center;
  }
  .nav-items{
    list-style: none;
    margin-right: 20px;
}
.brand{
    gap: 10px;
    align-items: center;
}
.brand-name{
    font-weight: bold;
    font-size: 2rem;
}
.icon{
  visibility: hidden;
}

  .nav-1{
  font-weight: bold;
  font-size: 1.25rem;
  }
  .nav-2, .nav-3, .nav-4{
  font-weight: 500;
  font-size: 1.25rem;
  }
  
  .nav-3{
  color: #05D4DF;
  }
  .nav-4{
   color: #5D58EF; 
  }
  
  .nav-link{
    text-decoration: none;
  }
  .btn{
    
    background-color: #FEA301;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 12px 61px;
    color: white;
    border: none;
  }
    
  /* banner */
  .banner-title{
    font-weight: bold;
    font-size:3.5rem;
    /* margin-bottom: 24px; */
  }
  .banner-details{
    font-size: 1.25rem;
    /* margin-bottom: 24px; */
  }
  
    .banner-pic{
    width: 100%;
  }

  /* curriculum */
  main{
    
    background-image: url(../assets/bg.png);
    
    background-size: 100%;
    
  }

  .c-1{
    background: linear-gradient(to top,white 80%, #DEF5FF);
    border: 1px solid #DEF5FF;
  }
  .c-2{
    background: linear-gradient(to top,white 80%, #FFF4DC);
    border: 1px solid #FFF4DC;
  }
  .c-3{
    background: linear-gradient(to top,white 80%, #F2E8FF);
    border: 1px solid #F2E8FF;
  }
  .card-container{
    gap: 28px;
  }
  .c-card{
    width: 360px;
    height: 470px;
    border-radius: 18px;
    align-content: center;
  }
  .title{
    font-weight: bold;
    font-size: 2.875rem;
    margin-bottom: 60px;
    margin-top: 80px;
  }
  .card-title{
    font-weight: bold;
    font-size: 1.5rem;
    
  }
  .card-details{
    font-size: 1.066rem;
    color: #808080;
    margin-bottom: 30px;
  }
  .read-more{
    font-weight: bold;
    font-size: 0.94rem;
  }
  .btn-1{
    color: #64C8FF;
  }
  .btn-2{
    color: #F0AA00;
  }
  .btn-3{
    color: #8700FF;
  }
  .next-img{
    width: 130px;
    height: 60px;
    margin:30px 465px;
    
  }
  /* stories */
  .our-stories{
  
  margin: 0;
  
  background: linear-gradient(to bottom, white 10%, #FFF4DC  );
  width: 100%
 }
  
  .stories-title{
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 2.875rem;
  }
  .stories-container{
    justify-content: center;
    gap:20px;
    }
    .story-2, .story-3{
      margin-bottom: 20px;
    }
    .mini-stories{
      gap: 20px;
    }
    .story-title{
      padding:0px 25px 5px;
    }
    .story{
      width: 200px;
      height: 223px;
      border-radius:16px;
      background-color: white;
    }
    .story-1{
      width: 400px;
      height: 468px;
    }
    .stry-img{
      width: 100%;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
    .story-content{
     padding:10px 25px 10px;
    }
  
   
  .story-1-title{
    font-weight: bold;
    font-size: 1.5rem;

  }
  .story-details{
    color: #666666;
    font-weight: 500px;
    font-size: .96rem
    
  }
  .story-title{
    font-size: 1rem;
    font-weight: bold;
  }
  .button{
    justify-content: center;
    margin-top: 50px; 
  }

  /* footer */
  footer{
    
    background-color: #01ACFD;
    
  }
  .footer-container{
    gap: 100px;
    
    justify-content: center;
  }

  .content-title{
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
  }
  .footer-1{
    align-items: center;
  }
  .footer-container-1{
    justify-content: flex-start;
  }
  .content-list{
    font-weight: 400;
    font-size: 1.1rem;
    color: white;
  }
  .title{
    color: white;
  }
 .details{
    
    font-size: 1.25rem;
    color: white;
    width: 200px;
    height: 200px;
    
  }

  /* responsive for small device */

  @media screen and (max-width: 576px) {
    header, main{
      margin: 0;
    }
    body{
      overflow-x: hidden;
    }
    
   .brand-name, .nav-link, .btn{
    visibility: hidden;
    }
    .icon{
      visibility: visible;
      
    }
    .navbar{
      border-bottom:1px solid #FEA301;
      flex-direction: row;
      overflow-x:hidden;
    }
    
    .banner{
      max-width: 100%;
      margin: 0 auto;
      flex-direction: column-reverse;
      
    }
    
      .banner-content{
        justify-items: center;
        text-align: center;
        
      }
      main{
        background-image: url(../assets/bg.png);
        
      }
      .card-container{
        flex-direction: column;
        align-items: center;
      }
      .next-img{
        visibility: hidden;
      }
      .story-1{
        display: none;
      }
     .mini-stories{
      gap: 10px;
      align-content: center;}
     
     .footer-container{
      flex-direction: column;
      align-items: center;
     }
  
  
  
}